.pizzavorschau {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
  background-color: lightblue;
  margin: auto;
}

.pizzavorschau__element {
  height: 200px;
  width: 200px;
  background-color: lightgray;
  margin: 10px;
  overflow: hidden;
}

.pizzavorschau__element--special {
  border: 5px solid green;
  box-sizing: border-box;
}

.pizzavorschau__element--special + .pizzavorschau__element {
  transform: scale(0.5);
}

.pizzavorschau__element:hover {
  cursor: pointer;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
}

.pizzavorschau__element:first-child {
  background-color: gold;
}

.pizzavorschau__element:nth-child(2) {
  background-color: orange;
}

img {
  width: 200px;
  height: 160px;
}
